@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400);

:root {
  --splashscreen-color: #eb1f48;
  --text-color: #fff;
}

*, html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--splashscreen-color);
  font-family: "Lato", sans-serif;
 /*  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
 
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  
}

#countdown {
  color: var(--text-color);
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  display: inline-block;
  font-size: 1.25em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 5rem;
}

@media screen and (max-width: 1040px) {
  li {
    display: block;
  }
}
/* general styling */
